/* Page stylesheet */
* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	height: 100vh;
}

.center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-menu {
	display: none;
	text-align: center;

	ul {
		list-style-type: none;
	}

	li {
		margin-top: 0.5em;
	}

	button {
		width: 100%;
		height: 2em;
	}
}

#game {
	z-index: 2;
	padding: 1%;
	display: flex;
	position: relative;
	flex-flow: row wrap;
	justify-content: stretch;
	width: 40%;
	background-color: rgba(0.2, 0.2, 0.2, 0.5);
	border-style: solid;
	border-width: 5px;
	border-color: rgba(1, 1, 1, 0.1);
	border-radius: 15px;
	text-align: center;
	font-size: 500%;

	@media (orientation : portrait){
		width: 90%;
		font-size: 300%;
	}

	@media (max-width : 900px) {
		font-size: 300%;
	}

	.card-space {
		flex-grow: 1;
		width: 23%;
		padding: 1%;
		position: relative;

		.card {
			width: 92%;
			height: 92%;
			position: absolute;
			transform-style: preserve-3d;

			figure {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				border-radius: 5px;
				border-width: 1px;
				border-style: solid;
				border-color: rgba(1, 1, 1, 0.75);
			}

			.front {
				background-color: lightblue;
			}

			.back {
				transform: rotateY( 180deg );
				background-color: white;
				-moz-transition: all 1s;
				-webkit-transition: all 1s;
				-ms-transition: all 1s;
				-o-transition: all 1s;
				transition: all 1s;
			}

			.bad {
				background-color: red;
			}

			.good {
				background-color: lightgreen;
			}
		}
	}
}

#game-timer{
	position: fixed;
	width: 25%;
	top: 50%;
	left: 0px;
	transform: translate(0%, -50%);
	padding: 2%;
	text-align: center;

	#restart {
		margin-bottom: 20%;
		font-size: 5vw;
	}

	.potrait {
		display: none;
	}

	.landscape {
		display: block;
	}

	h1	{
		font-size: 3vw;
	}

	@media (orientation : portrait){
		top: 0px;
		left: 50%;
		width: 75%;
		transform: translate(-50%);

		.stopwatch {
			float: right;
		}

		h1 {
			display:inline;
			float: left;
			font-size: 10vw;
		}

		.potrait {
			display: block;
			font-weight: lighter;
		}

		.landscape {
			display: none;
		}

		#restart {
			margin-bottom: none;
			float: left;
			font-size: 10vw;
		}
	}
}

#game-stars {
	position: fixed;
	display: inline;
	width: 25%;
	top: 50%;
	right: 0px;
	transform: translate(0%, -50%);
	font-size: 2.5vw;
	text-align: center;
	padding: 2%;

	#star1, #star2, #star3 {
		background: linear-gradient(to bottom, orange 100%, lightgray 100%);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}

	h1.potrait {
		display: none;
	}

	@media (orientation : portrait){
		left: 50%;
		top: auto;
		bottom: 0%;
		width: 75%;
		height: 10%;
		transform: translate(-50%);

		.stars {
			display:inline;
			float: left;
			font-size: 5vw;
		}

		br.potrait {
			display: none;
		}

		h1.potrait {
			display: inline;
		}

		.moves {
			float: right;
			font-size: 3vw;
			text-align: center;

			h1	{
				display:inline;
			}
		}
	}
}

#end {
	display: none;
	text-align: center;
	color: white;
	font-size: 4vw;
	z-index: 10;

	div {
		margin-top: 5%;
		margin-bottom: 15%;
		color: orange;
	}

	@media (orientation : portrait){
		#restart-end {
			font-size: 20vw;
		}
	}

	#end-star1, #end-star2, #end-star3 {
		display: none;
	}
}

#menu{
	display: none;
}


.menu-bg {
	display: none;
	position: fixed;
	z-index: 5;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	opacity: 0.5;

	&-show {
		display: block;
		animation: fadein 0.5s;

		@keyframes fadein {
			from {
				opacity:0;
			}
			to {
				opacity:0.5;
			}
		}
	}
}
