/* Page stylesheet */
* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	height: 100vh;
}

.center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-menu {
	display: none;
	text-align: center;

	ul {
		list-style-type: none;
	}

	li {
		margin-top: 0.5em;
	}

	button {
		width: 100%;
		height: 2em;
	}
}

#game {
	z-index: 2;
	padding: 1%;
	display: flex;
	position: relative;
	flex-flow: row wrap;
	justify-content: stretch;
	width: 40%;
	background-color: rgba(0.2, 0.2, 0.2, 0.5);
	border-style: solid;
	border-width: 5px;
	border-color: rgba(1, 1, 1, 0.1);
	border-radius: 15px;
	text-align: center;
	font-size: 500%;

	@media (orientation : portrait){
		width: 90%;
		font-size: 300%;
	}

	@media (max-width : 900px) {
		font-size: 300%;
	}

	.card-space {
		flex-grow: 1;
		width: 23%;
		padding: 1%;
		position: relative;

		.card {
			width: 92%;
			height: 92%;
			position: absolute;
			transform-style: preserve-3d;

			figure {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				border-radius: 5px;
				border-width: 1px;
				border-style: solid;
				border-color: rgba(1, 1, 1, 0.75);
			}

			.front {
				background-color: lightblue;
			}

			.back {
				transform: rotateY( 180deg );
				background-color: white;
			}
		}
	}
}

#game-timer{
	position: fixed;
	top: 50%;
	left: 0px;
	transform: translate(0%, -50%);
}

#game-stars {
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translate(0%, -50%);

	//background-color: lightgray;
	width: 200px;
	height: 400px;
}

#menu, #end{
	display: none;
}

.menu-bg {
	display: none;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	opacity: 0.5;

	&-show {
		display: block;
		animation: fadein 0.5s;

		@keyframes fadein {
			from {
				opacity:0;
			}
			to {
				opacity:0.5;
			}
		}
	}
}
